.calc-body {
    background-color: yellow;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.display {
    height: 50px;
}

.display.status {
    background-color: aquamarine;
    font-size: 16px;
}

.display.main {
    background-color: bisque;
    font-size: 24px;
}

.btn {
    width: 50px;
    height: 40px;
}