* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.calc-body {
    background-color: yellow;
    border: 1px solid rgb(81, 187, 230);
    border-radius: 5px;
    width: 227px;
    height: 335px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.display.live {
    background-color: aquamarine;
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
    font-size: 60px;
    text-align: right;
    padding-right: 3px;
    height: 70px;
    white-space: nowrap;
    /* overflow-x: scroll; */
    overflow-y: hidden;
}

.display.result {
    background-color: aquamarine;
    font-size: 24px;
    height: 30px;
    text-align: right;
    padding-right: 10px;
}

.btn {
    font-family: 'Orbitron', sans-serif;
    width: 50px;
    height: 40px;
    font-size: 20px;
    margin: 2px 1px 3px 1px;
    border: 1px solid rgb(81, 187, 230);
    border-radius: 5px;
}

.btns-container {
    padding: 4px;
    border-top: 1px solid rgb(81, 187, 230);
}

.footer {
    text-align: center;
    margin-top: 10px;
}