.calc-body {
    background-color: yellow;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.display.status {
    background-color: aquamarine;
    font-size: 50px;
    text-align: right;
    padding-right: 10px;
    height: 70px;
}

.display.main {
    background-color: bisque;
    font-size: 24px;
    height: 30px;
}

.btn {
    width: 50px;
    height: 40px;
}